<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Events</key>
	<array>
		<dict>
			<key>EventID</key>
			<string>1000</string>
			<key>EventName</key>
			<string></string>
			<key>EventConfig</key>
			<dict>
				<key>target</key>
				<string>JKVC1</string>
				<key>selectorStr</key>
				<string>+testFun</string>
			</dict>
		</dict>
		<dict>
			<key>EventID</key>
			<string>1100</string>
			<key>EventName</key>
			<string></string>
			<key>EventConfig</key>
			<dict>
				<key>target</key>
				<string>JKVC1</string>
				<key>selectorStr</key>
				<string>testAAA</string>
			</dict>
		</dict>
		<dict>
			<key>EventID</key>
			<string>1001</string>
			<key>EventName</key>
			<string></string>
			<key>EventConfig</key>
			<dict>
				<key>target</key>
				<string>JKVC2</string>
				<key>selectorStr</key>
				<string>JKClicked</string>
			</dict>
		</dict>
		<dict>
			<key>EventID</key>
			<string>1003</string>
			<key>EventName</key>
			<string></string>
			<key>EventConfig</key>
			<dict>
				<key>target</key>
				<string>JKVC3</string>
				<key>selectorStr</key>
				<string>JKClicked</string>
			</dict>
		</dict>
		<dict>
			<key>EventID</key>
			<string>1004</string>
			<key>EventName</key>
			<string></string>
			<key>EventConfig</key>
			<dict>
				<key>target</key>
				<string>JKBViewController</string>
				<key>selectorStr</key>
				<string>tableView:didSelectRowAtIndexPath:</string>
			</dict>
		</dict>
	</array>
	<key>PV</key>
	<dict>
		<key>JKAViewController</key>
		<dict>
			<key>pageName</key>
			<string>Activity 1</string>
		</dict>
		<key>JKBViewController</key>
		<dict>
			<key>pageName</key>
			<string>Activity 2</string>
		</dict>
	</dict>
</dict>
</plist>
